// ====== IMPORTS ===========================================================

@import '_h5bp';
@import '_meyer-reset';

@import 'variables';
@import 'fonts';





// ====== MIXINS ===========================================================

@mixin clear() {
	&:before, &:after {
		content: "\0020";
		display: block;
		height: 0;
		overflow: hidden;
	}
	&:after {
		clear: both;
	}
}

@mixin transition($args...) {
	-webkit-transition: $args;
	-moz-transition: $args;
	-ms-transition: $args;
	-o-transition: $args;
	transition: $args;
}



// ====== COMMON ===========================================================

html,
body {

}

body {

}

a, a:link, a:visited, a:hover, a:active {

}



@import 'mobile';