// ====== VARIABLES ===========================================================

$colourBlack:   #040507;
$colourWhite:   #FFFFFF;
$colourSilver:  #E5E4E2;
$colourGrey:    #787878;
$colourRed:     #B41A24;
$colourDark:    #1E1E1E;

$contentWidth:  1300px;
$contentHeight: 800px;

$font:          'TrajansRegular', 'Cinzel', serif;